html,
body {
  margin: 0px;
  overflow: hidden;
  background-color: black;
}

#device-calibrate-button {
  font-size: 15px;
}

#device-calibrate-container {
  z-index: 1000;
  background-color: black;
  color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 15px;
}
